.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px; /* Ajustar el tamaño del logo */
  height: auto;
}

.menu-container {
  display: flex;
  justify-content: center; /* Centrar las opciones del menú */
}

.menu-container a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.dropdown-menu {
  display: none;
}
.image-container {
  display: flex;
  align-items: center;
}

.image {
  width: 40px; /* Ajustar el tamaño de la imagen */
  height: auto;
  margin-right: 10px; /* Ajustar el margen derecho de la imagen */
}

@media screen and (max-width: 992px) {
  .logo-container,
  .menu-container {
    display: none;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #444;
    z-index: 1;
  }

  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }

  .topbar {
    justify-content: flex-end; /* Alinear elementos a la derecha */
  }

  .image-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
