.scroll-container {
  display:inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(136, 130, 130);
  /* background-image: url('src/assets/images/banners/SzHistorias.webp');
  background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el div */
  background-position: center;
  height: 160px;
}
.containerr {
  margin-top: 4px;
  margin-bottom: 15px;
  display:inline-flex;
  justify-content: center;
  color:black

}
.texto{
  display:inline-flex;
  max-width: 20px;
  background-color: rgb(136, 130, 130);

}
.derecho, .izquierdo {
  display:inline-flex;
  max-width: 20px;
  background-color: rgb(255, 250, 240);
  align-items: center;
  flex: 1;
}

.story {
  width: 75px;
  height: 75px;
  margin: 6px;
  color:black;
  text-align: center;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color:black
}

.story-title {
  text-align: center;
  color:black
}

.circle-img {
  width: 75px; /* Mismo tamaño que definiste para las historias */
  height: 75px; /* Mismo tamaño que definiste para las historias */
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
