<div class="scroll-container">

  <div class="izquierdo">
    <mat-icon class="arrow-left" (click)="scrollLeft()">keyboard_arrow_left</mat-icon>
  </div>

  <div class="containerr">

        <div class="story" *ngFor="let story of stories">    <!-- (click)="openStory(story)"> -->

        <!-- Foto de Perfil Circular de Historia -->
            <div class="profile-pic">
                <img src="{{ story.profilePic }}" alt="{{ story.username }}">
            </div>

        <!-- Nombre de Perfil -->
            <div class="username">{{ story.username }}
            </div>

        </div>

  </div>

  <div class="derecho">
      <mat-icon class="arrow-right" (click)="scrollRight()">keyboard_arrow_right</mat-icon>
  </div>

</div>
