
  <div class="contenedor">
    <!-- =================== COMPONENT 1 ====================== -->
    <div class="card bg-primary p-5" style="min-height:280px; background-size: cover; background-image: url('assets/images/banners/bg-food.webp');">
      <header class="text-center mt-5">
        <h2 class="text-white">TENGO QUE CAMBIAR ESTE TITULO</h2>
        <p class="text-white">Discover the best food and drinks in your area</p>
      </header>
      <form class="mx-auto w-100 mb-3" style="max-width: 720px">
        <div class="row g-2 w-100">
        <div class="col flex-grow">
          <div class="input-group">
          <select class="form-select" style="max-width:30%" fdprocessedid="">
            <option>Moscow</option>
            <option>Tashkent</option>
            <option>New York</option>
          </select>
          <input type="text" placeholder="Food or cafe name" class="form-control" name="">
          </div>
        </div>
        <!-- col.// -->
        <div class="col-auto">
          <button class="btn btn-warning" fdprocessedid=""> Find food </button>
        </div>
        <!-- col.// -->
        </div>
        <!-- row.// -->
      </form>
    </div>
    <!-- =================== COMPONENT 1 .// ================== -->
    <br>
    <br>
    <app-historias class="contenedor"></app-historias>
    <br>
    <br>
    <!-- =================== COMPONENT 3 ====================== -->
    <br>

    <div class="contain" [ngClass]="{'four-photos': isDesktop, 'three-photos': isTablet, 'two-photos': isMobile}">
      <div *ngFor="let photo of photos" class="photo">
        <img [src]="photo.url" alt="Photo"/>
        <div class="caption">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ photo.caption }}</div>
      </div>
    </div>

    <br>


